.git
.github
.idea
.vscode
.cursor
node_modules
vendor
npm-debug.log*
.env
.env.*
!.env.example
storage/logs/*
!storage/logs/.gitignore
tests
docs
agents
trash
phpunit.result.cache
.DS_Store
public/hot
